@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

asr-draggable-tvc {
  background: gray;
  display: block;
  overflow: hidden;

  &.animate {
    transition: all .3s;
  }

  asr-draggable-tvc-max-left, asr-draggable-tvc-left, asr-draggable-tvc-main, asr-draggable-tvc-right, asr-draggable-tvc-max-right {
    float: left;
    overflow: hidden;
  }

  asr-draggable-tvc-max-left {
    text-align: right;
  }

  asr-draggable-tvc-left {
    background: green;
    text-align: right;
  }

  asr-draggable-tvc-main {
    background: white;
  }

  asr-draggable-tvc-right {
    background: red;
  }
}

.custom-cell-inner {
  padding: 15px;
  box-shadow: inset 0px 1px 0px 0px rgba(50, 50, 50, 0.1);
}